<% include partials/header %>
<h1>Index</h1>
<%blogs.forEach(function(blog){%>
<div>
    <h2>
        <%= blog.title %>
    </h2>
        <img src="<%= blog.image %>" />
        <h3><%= blog.body %></h3>
        <h4><%= blog.created %></h4>
</div>

<% }) %>
<% include partials/footer %>

